.header {
    grid-area: h;
    background-color: #dfe6ed;
}

.header img {
    width: 200px;
    height: 100px;
}

.loginBlock {
    float: right;
    color: black;
}

.loginBlock a {
    text-decoration: none;
}