.avaD {
    background-color: #dfe6ed;
    width: 500px;
    height: 300px;
    display: grid;
    grid-template-areas: 's s ' 'a d'  ;
    grid-template-rows: 30px 200px;
    grid-auto-columns: 200px 80px;
    grid-gap: 30px;
    padding-left: 5px;
}
.status {
    padding-left: 10px;
    margin-top: 5px;
    height: 50px;
}

.avaD img {
    width: 160px;
    height: 160px;
    border-radius: 15px;
}

.ava {
    grid-area: a;
    background-color: #dfe6ed;
    padding-left: 20px;
    padding-top: 20px;
}

.d {
    grid-area: d;
    padding-top: 20px;
    background-color: #dfe6ed;
    width: 200px;
    color: black;
}