.avaD {
    background-color: #dfe6ed;
    width: 500px;
    display: grid;
    grid-template-areas: 'a d';
    grid-template-rows: 200px;
    grid-auto-columns: 200px 80px;
    grid-gap: 10px;

}

.avaD img {
    width: 160px;
    height: 160px;
    border-radius: 15px;
}

.ava {
    grid-area: a;
    background-color: #dfe6ed;
    padding-left: 20px;
    padding-top: 20px;


}

.d {
    grid-area: d;
    padding-top: 20px;
    background-color: #dfe6ed;
    width: 300px;
    color: black;
}